server:
  port: 9809
spring:
  application:
    name: jaeriary

  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@jaejae_medium?TNS_ADMIN=C:/jaejae0015/License/Wallet_JAEJAE
    username: ADMIN
    password: Jaeriary1234!

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true
        use_sql_comments: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace